body {
	background-image: url('../images/paper_fibers.png');
}

.show-btn {
	margin: 10px 5px 5px 5px;
}

img {
	margin: 5px;
}

#form {
	margin-top: 50px;
}

#attribution {
	margin-top: 20px;
}

figure {
	display: inline-block;
}

figcaption {
	margin-left: 5px;
}